h1, blockquote {
  font-family: 'Abril Fatface';
}

p, h3, h2 {
  font-family: 'Josefin Sans';
}

h2 {
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 50px;
}

ul {
  list-style-type: square;
  font-family: 'Josefin Sans';
}

.experience {
  font-family: 'Merriweather';
  font-size: 15px;
  font-style: italic;
  margin-top: 5px;
}

h1 {
  font-size: 50px;
}

.smaller {
  font-size: 30px;
}

header {
  padding: 10px;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

blockquote {
  background: grey;
  color: white;
  font-size: 40px;
  padding: 10px;
}

blockquote::before {
  content: '”';
  padding: 20px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 0px;
}

hr {
  border: 2px solid black;
  margin-top: 80px;
}